
<div>
    <h3>Music:</h3>
    <h1>Totemo Suteki na Rokugatsu Deshita</h1>
    <p>Japanese	Romaji	English
潰された私の体躯は酷く脆い固形と化して	tsubusareta watashi no taiku wa hidoku moroi kokei to kashite	My crushed stature becomes a terribly fragile solid
音ひとつしない市街地で忌々しい不祥を呪うのさ	oto hitotsu shinai shigaichi de imaimashii fushou o norou no sa	As I wish curses upon the silent city

道徳の向う側であなたは吠えている	doutoku no mukougawa de anata wa hoete iru	You howl on the other side of morality
淡泊な言葉の裏側が透けているよ	tanpaku na kotoba no uragawa ga sukete iru yo	The back side of your indifferent words are see-through
真昼の無彩色を不穏な色にして	mahiru no musaishouku o fuon na iro ni shite	Turning the achromatic color of midday into a disturbing color
本当に馬鹿な嘘つき	hontou ni baka na usotsuki	You really are a stupid liar

薫る夏風に誘われて霞む死神も泣いていた	kaoru natsu kaze ni sasowarete kasumu shinigami mo naite ita	Lured by the sweet-smelling summer wind, the hazy grim reaper was crying as well
始まりの合図が轟いて咽ぶ飛行機雲	hajimari no aizu ga todoroite musebu hikoukigumo	The signal of the beginning resounds, from the choked jet streams
閉塞と千の世迷言で回る膿んだ世界が終る前に	heisoku to sen no yomaigoto de mawaru unda sekai ga owaru mae ni	Obstructions and a thousand mutterings, make this rotten world go round
夢の中さえもずっと、焼きつけたいの	yume no naka sae mo zutto, yakitsuketai no	Even in my dreams, I always want to burn it away before it ends

草臥れた回転木馬、見たくもない欺瞞の産物	kutabireta kaiten mokuba, mitaku mo nai giman no sanbutsu	An exhausted merry-go-round and fraudulent products I don't want to see
仕組まれた惨劇の丘に咲いた蓮華は枯れるのだろう	shikumareta sangeki no oka ni saita renge wa kareru no darou	The lotuses that bloomed on the hill of the orchestrated tragedy are probably withering away

私を穿っていく醜い透明	watashi o ugatte iku minikui toumei	An ugly transparency that drills into my core
灰色の心が無数に悲鳴を上げるの	haiiro no kokoro ga musuu ni himei o ageru no	Raises countless screams at my gray heart
背徳の白い息も次第に白銀が	haitoku no shiroi iki mo shidai ni hakugin ga	My corrupted, condensed breath, too
覆い隠してしまうよ	ooikakushite shimau yo	Gradually obscures the silver

湿る街角に飛び散った抉る感覚を放つのさ	shimeru machikado ni tobichitta eguru kankaku o hanatsu no sa	I jumped out onto the wet street corner and let go of the gouging sensation
吠える迷子犬を葬って黒煙の立つ空に	hoeru maigo inu o houmutte kokuen no tatsu sora ni	I bury a howling, lost puppy in the sky filled with black smoke
問い掛けと千の綺麗事で回る膿んだ世界の終りなんて	toikake to sen no kireigoto de mawaru unda sekai no owari nante	Inquiries and pretty lies, make this rotten world go round
呆気の無いくらいでいいと、吐き捨てたいの	akke no nai kuraide ii to, hakisutetai no	"Like I care if it's too late to save it from ending," that's what I wanted to spit out at it

喚く踏切が遮って、これで全て終りなんだろう	wameku fumikiri ga saegitte, kore de subete owari nan darou	Separated by the shrieking railway crossing; this is where it all ends
さよならの合図が轟いて溶ける飛行機雲	sayonara no aizu ga todoroite tokeru hikoukigumo	The farewell signal resounds from the dissolving jet streams

がなる現世の境界で愚かなあなたは泣いていた	ganaru utsushiyo no kyoukai de orokana anata wa naite ita	At the boundary of the blaring real world, you were crying like the fool you were
薫る夏風に誘われて、悲しくなどないさ	kaoru natsu kaze ni sasowarete, kanashiku nado nai sa	Lured by the sweet-smelling summer wind, I don't even feel sad at all
天国も地獄も無いのなら	tengoku mo jigoku mo nai no nara	If neither heaven nor hell exists,
こんな泥塗れの現実を誰が裁けるの	konna doromamire no genjitsu o dare ga sabakeru no	Then who can judge this filthy reality?

透過、「また会いましょう」	touka, "mata aimashou"	I breathe out, "Let us meet again."</p>
</div>